h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;

  max-width: 60vw;
}

li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;

  background-color: rgb(187, 207, 216);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0.5rem;
}

li:last-child {
  margin-bottom: 0;
}

.delete-button {
  cursor: pointer;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 0.25rem;
  font-size: 1rem;
  line-height: 1;
}