.App {
  text-align: center;
  background-color: white;
}

/* .App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1em;
  /* height: 85vh; */

  background-color: white;
}
.chat-search {
  position: sticky;
  top: 0;
  background-color: purple;
  text-align: center;
  padding: 1em 0 1em 3em;
  width: 100vw;
  height: 10%;
}
.chat-search button {
  margin-top: 1em;
  width: auto;
  height: 2em;
  border-radius: 1em;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.chat-search input {
  height: 2em;
  border-radius: 1em;
}
.chat-form {
  position: fixed;
  bottom: 0;
  background-color: purple;
  text-align: center;
  padding: 0 0 02em 3em;
  width: 50%;
  height: 15%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.chat-form button {
  height: 5.5em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  vertical-align: top;
}
.chat-messages {
  height: 80%;
}
.shape-btn {
}
.name {
  width: 40%;
  height: 2em;
}
.message {
  width: 80%;
  height: 5em;
}

.single-chat {
  color: white;
  background-color: wheat;
  width: 50vw;
  border-radius: 1em;
  padding: 0.2em 0 0.2em 0;
  margin-top: 0.5em;
  /* border: 2px solid blue; */
}
.single-chat h2 {
  text-align: left;
  margin-left: 1em;
  color: green;
}
.single-chat h4 {
  text-align: right;
  margin-right: 0.5em;
  color: red;
}
.single-chat p {
  text-align: left;
  margin-left: 1em;
  color: black;
  padding: 1em;
}
.chat-form button:hover,
.chat-search button:hover {
  background-color: green;
}
